# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
local.properties
.cxx/
*.apk
*.aab
*.ap_
*.dex

# IDE
.idea/
*.iml
*.ipr
*.iws
.kotlin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Written by .github/scripts/release_notes.py during a release
/release-notes.md
